<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <article class="card shadow-sm">
        <figure class="position-relative image-container">
          <img
            [src]="product?.image"
            class="card-img-top img-fluid"
            alt="{{ product?.title }}"
          />
          <figcaption class="text-center text-muted mt-2">
            {{ product?.title }}
          </figcaption>
        </figure>
        <div class="card-body">
          <h5 class="card-title text-uppercase">{{ product?.title }}</h5>
          <p class="card-text">{{ product?.description }}</p>
          <p class="card-text">
            <strong>Precio:</strong> {{ product?.price | currency }}
          </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-secondary"
            [routerLink]="['/products']"
          >
            Volver
          </button>
          <button
            type="button"
            class="btn btn-primary"
            [routerLink]="['/products', product?.id]"
          >
            Agregar al carrito
          </button>
        </div>
      </article>
    </div>
  </div>
</div>
