<article class="container mt-4">
  <ul class="list-group">
    <li class="list-group-item d-flex align-items-center flex-wrap">
      <figure class="col-12 col-sm-12 col-md-4 col-lg-2 me-3">
        <img
          [src]="cartItem.image"
          class="img-thumbnail img-fluid"
          alt="{{ cartItem.title }}"
        />
      </figure>
      <div class="flex-grow-1">
        <p class="mb-1">
          <strong>{{ cartItem.title }}</strong>
        </p>
        <p class="mb-1">Cantidad: {{ cartItem.amount }}</p>
        <p class="mb-1">Precio unitario: {{ cartItem.price | currency }}</p>
        <h5 class="mb-1">
          Precio Total:
          <span class="badge bg-secondary">
            {{
              Math.round(cartItem.amount * cartItem.price * 100) / 100
                | currency
            }}
          </span>
        </h5>
      </div>

      <div class="d-flex align-items-end">
        <div class="input-group">
          <button
            class="btn btn-outline-secondary input-group-text"
            id="btnGroupAddon"
            (click)="onAmountMinusChange()"
            [disabled]="isActive(cartItem.amount)"
          >
            <i class="fas fa-minus"></i>
          </button>

          <input
            type="number"
            class="form-control"
            [placeholder]="cartItem.amount"
            aria-label="Input group example"
            aria-describedby="btnGroupAddon"
            [value]="cartItem.amount"
            disabled
            style="width: 4rem"
          />
          <button
            class="btn btn-outline-secondary input-group-text"
            id="btnGroupAddon"
            (click)="onAmountPlusChange()"
          >
            <i class="fas fa-plus"></i>
          </button>
        </div>
      </div>
      <div class="d-flex align-items-end ms-1">
        <button
          class="btn btn-danger"
          id="btnGroupAddon"
          (click)="onRemoveCartItem()"
        >
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </li>
  </ul>
</article>
